<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <ol>
            <div id="producttop"class="container" style="margin-top: 60px;">
            <h1 style="text-align: center;">{{title}}</h1>
            <form method="get" action="\product\new">
                <button class="addproductbtn" type="submit">Add a new product</button>
                <br>
                <br>
                <button id="btnex" type="button" class="block">Delete product</button>
                <br>
                <button id="btnex" type="button" class="block">Request product</button>
            </form>
            {{#each product}}
            <li style="display:inline-block">
                <div class="card">
                    <H2>{{ProductName}}</H2>
                    <img class="productimg" style="height: 300px; width: 350px" src="/{{ImgLink}}">
                    <H3 class="price">Giá: {{Price}}</H3>
                    <BR> Thông tin sản phẩm
                    <p>
                        {{Information}}
                    </p>
                    <BR> Unit: {{Unit}}
                    <p><button>Add to Cart</button></p>
                </div>
            </li>
            {{/each}}
        </div>
        <script src="Products.js"></script>
            <br>
        </ol>
    </main>
    

    {{>footer}}
</body>

</html>
